@{
    Layout = null;
}
<footer>
    <div class="financity-footer-wrapper ">
        <div class="financity-footer-container financity-container clearfix">
            <div class="financity-footer-column financity-item-pdlr financity-column-15">
                <div id="text-2" class="widget widget_text financity-widget">
                    <div class="textwidget">
                        <p><img src="~/Images/sk-logo-2.png" alt=""></p>
                        <p>
                            <i class="fa fa-location-arrow" style="font-size: 16px;color: #ffffff;margin-right: 10px;"></i>&nbsp;3024a Great North Road, New Lynn, Auckland 0600, New Zealand
                            <br> <span class="gdlr-core-space-shortcode" style="margin-top: 10px;"></span> <i class="fa fa-phone" style="font-size: 16px;color: #ffffff;margin-right: 10px;"></i> <a href="tel:0212083152">0 21 208 3152</a>
                            <br> <span class="gdlr-core-space-shortcode" style="margin-top: 10px;"></span> <i class="fa fa-envelope-open-o" style="font-size: 16px;color: #ffffff;margin-right: 10px;"></i> <a href="mailto:admin@skfinance.co.nz">admin@skfinance.co.nz</a>
                            <br> <span class="gdlr-core-space-shortcode" style="margin-top: 10px;"></span>
                            <i class="fa fa-clock-o" style="font-size: 17px;color: #ffffff;margin-right: 10px;"></i>
                            <span style="color: #ee0444;">Mon - Fri 08:00-20:00</span><br /> <i class="fa fa-clock-o" style="font-size: 17px;color: #ffffff;margin-right: 10px;"></i> <span style="color: #ee0444;">Sat - Sun 10:00-16:00</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="financity-footer-column financity-item-pdlr financity-column-15">
                <div id="nav_menu-1" class="widget widget_nav_menu financity-widget">
                    <h3 class="financity-widget-title">Useful Links</h3>
                    <div class="menu-useful-links-container">
                        <ul id="menu-useful-links" class="menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5507">
                                <a href="../home/aboutus">About Us</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5506">
                                <a href="../home/ourservices">Our Services</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5512">
                                <a href="../home/calculator">
                                    Calculator
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5508">
                                <a href="../home/downloads">Downloads</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5509">
                                <a href="../home/reviews">Reviews</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5509">
                                <a href="~/Attachments/Privacy-Policy.pdf" target="_blank">Privacy Policy</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5509">
                                <a href="~/Attachments/skm-disclosure-24.pdf" target="_blank">Disclosure Form</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="financity-footer-column financity-item-pdlr financity-column-30">
                <div id="text-4" class="widget widget_text financity-widget">
                    <h3 class="financity-widget-title">Contact Form</h3>
                    <div class="textwidget">
                        <div role="form" class="wpcf7" id="wpcf7-f5505-o2" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="/home/SendEmail" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div class="gdlr-core-input-wrap gdlr-core-small gdlr-core-full-width gdlr-core-with-column gdlr-core-no-border">
                                    <div class="gdlr-core-column-60">
                                        <span class="wpcf7-form-control-wrap your-name">
                                            <input id="name" type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Full Name*">
                                        </span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="gdlr-core-column-60">
                                        <span class="wpcf7-form-control-wrap your-email">
                                            <input type="email" name="email" id="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email*">
                                        </span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="gdlr-core-column-60">
                                        <span class="wpcf7-form-control-wrap your-email">
                                            <input type="number" name="phonenumber" id="phonenumber" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Phone Number*">
                                        </span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="gdlr-core-column-60">
                                        <span class="wpcf7-form-control-wrap your-message">
                                            <textarea name="message" id="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Message*"></textarea>
                                        </span>
                                    </div>
                                    <div class="gdlr-core-column-60 gdlr-core-left-align">
                                        <input type="submit" value="Submit Now" class="wpcf7-form-control wpcf7-submit gdlr-core-small">
                                    </div>
                                </div>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="financity-copyright-wrapper">
        <div class="financity-copyright-container financity-container clearfix">
            <div class="financity-copyright-left financity-item-pdlr">Copyright @System.DateTime.Now.Year. Website Design & Developed By <a href="http://coditechsoftware.com/" target="_blank"><strong style="color:#ffffff;">Coditech Innovations Pvt. Ltd</strong></a></div>
            <div class="financity-copyright-right financity-item-pdlr">
                <a href="https://www.facebook.com/Sandeepkhanna.mortgages" target="_blank"><i class="fa fa-facebook" style="font-size: 16px;color: #ffffff;margin-left: 17px;"></i></a>
                @*<a href="#" target="_self"><i class="fa fa-twitter" style="font-size: 16px;color: #ffffff;margin-left: 17px;"></i></a>
                <a href="#" target="_self"><i class="fa fa-linkedin" style="font-size: 16px;color: #ffffff;margin-left: 17px;"></i></a>
                <a href="#" target="_self"><i class="fa fa-google-plus" style="font-size: 16px;color: #ffffff;margin-left: 17px;"></i></a>*@
                <a href="https://www.instagram.com/skmortgagesnz/?igsh=bXM1cDZja3Q2dmNp" target="_blank"><i class="fa fa-instagram" style="font-size: 16px;color: #ffffff;margin-left: 17px;"></i></a>
            </div>
        </div>
    </div>
</footer>