@{
    Layout = null;
}
<div class="financity-header-background-transparent">
    <div class="financity-top-bar">
        <div class="financity-top-bar-background"></div>
        <div class="financity-top-bar-container clearfix financity-container ">
            <div class="financity-top-bar-left financity-item-pdlr financity-column-36">
                <div class="owl-slider gdlr-core-dropdown-tab-content header-slider-wrapper">
                    <ul id="header-carousel" class="owl-carousel list-unstyled">
                        <li class="gdlr-core-item-mglr">
                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/AIA.png" alt=""></div>
                        </li>
                        <li class="gdlr-core-item-mglr">
                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/ANZ.png" alt=""></div>
                        </li>
                        <li class="gdlr-core-item-mglr">
                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/ASB.png" alt=""></div>
                        </li>
                        <li class="gdlr-core-item-mglr">
                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/avanti.png" alt=""></div>
                        </li>
                        <li class="gdlr-core-item-mglr">
                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/BNZ.png" alt=""></div>
                        </li>
                        <li class="gdlr-core-item-mglr">
                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/CB.png" alt=""></div>
                        </li>
                        <li class="gdlr-core-item-mglr">
                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/HT.png" alt=""></div>
                        </li>
                        <li class="gdlr-core-item-mglr">
                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/SBS.png" alt=""></div>
                        </li>
                        <li class="gdlr-core-item-mglr">
                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/TSB.png" alt=""></div>
                        </li>
                        <li class="gdlr-core-item-mglr">
                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/WP.png" alt="" width="151" height="43"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="financity-top-bar-right financity-item-pdlr financity-column-24">
                <div class="financity-top-bar-right-text">
                    <i class="fa fa-phone" style="font-size: 17px;color: #ffffff;margin-left: 20px;margin-right: 10px;"></i>
                    <strong><a href="tel:0212083152">0 21 208 3152</a></strong>
                    <span class="financity-top-bar-divider financity-left-margin"></span>
                    <i class="fa fa-envelope-open-o" style="font-size: 17px;color: #ffffff;margin-left: 20px;margin-right: 14px;"></i>
                    <strong><a href="mailto:admin@skfinance.co.nz">admin@skfinance.co.nz</a></strong>
                </div>
                @*<span class="financity-top-bar-divider financity-left-margin"></span>*@
                <!--<div class="financity-top-bar-right-social">
                    <a href="https://www.facebook.com/Sandeepkhanna.mortgages" target="_blank" class="financity-top-bar-social-icon" title="facebook"><i class="fa fa-facebook"></i></a>-->
                @*<a href="#" target="_blank" class="financity-top-bar-social-icon" title="google-plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" target="_blank" class="financity-top-bar-social-icon" title="pinterest"><i class="fa fa-pinterest-p"></i></a>
                    <a href="#" target="_blank" class="financity-top-bar-social-icon" title="twitter"><i class="fa fa-twitter"></i></a>*@
                <!--<a href="https://www.instagram.com/skmortgagesnz/?igsh=bXM1cDZja3Q2dmNp" target="_blank" class="financity-top-bar-social-icon" title="instagram"><i class="fa fa-instagram"></i></a>
                </div>-->
            </div>
        </div>
    </div>
    <header class="financity-header-wrap financity-header-style-plain  financity-style-menu-right financity-sticky-navigation financity-style-slide" data-navigation-offset="75px">
        <div class="financity-header-background"></div>
        <div class="financity-header-container  financity-container">
            <div class="financity-header-container-inner clearfix">
                <div class="financity-logo  financity-item-pdlr">
                    <div class="financity-logo-inner">
                        <a href="../home/index"><img src="~/Images/sk-logo-2.png" alt=""></a>
                    </div>
                </div>
                <div class="financity-navigation financity-item-pdlr clearfix ">
                    <div class="financity-main-menu" id="financity-main-menu">
                        <ul id="menu-main-navigation-1" class="sf-menu">
                            <li class="menu-item menu-item-home current-menu-item page_item page-item-2039 current_page_item financity-normal-menu">
                                <a href="/home/index"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li class="menu-item financity-normal-menu">
                                <a href="/home/aboutus" class="sf-with-ul-pre">About Us</a>
                            </li>
                            <li class="menu-item financity-normal-menu">
                                <a href="/home/ourservices" class="sf-with-ul-pre">Our Services</a>
                            </li>
                            <li class="menu-item financity-normal-menu">
                                <a class="nav-link" href="/home/calculator">Calculator</a>
                            </li>
                            <li class="menu-item financity-normal-menu">
                                <a class="nav-link" href="/home/downloads">Downloads</a>
                            </li>
                            <li class="menu-item financity-normal-menu">
                                <a class="nav-link" href="/home/reviews">Reviews</a>
                            </li>
                            <li class="menu-item financity-normal-menu">
                                <a class="nav-link" href="/home/contactus">Contact Us</a>
                            </li>
                        </ul>
                        <div class="financity-navigation-slide-bar" id="financity-navigation-slide-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>