<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - SKM</title>

    <link rel='stylesheet' href='../plugins/revslider/public/assets/css/settings.css' type='text/css' media='all'>
    <link rel='stylesheet' href='../css/style-core.css' type='text/css' media='all'>
    <link rel='stylesheet' href='../css/financity-style-custom.css' type='text/css' media='all'>
    <link rel='stylesheet' href='../plugins/goodlayers-core/plugins/combine/style.css' type='text/css' media='all'>
    <link rel='stylesheet' href='../plugins/goodlayers-core/include/css/page-builder.css' type='text/css' media='all'>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7COpen+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%7CAsap%3Aregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic&#038;subset=latin-ext%2Clatin%2Cvietnamese%2Ccyrillic-ext%2Cgreek%2Cgreek-ext%2Ccyrillic&#038;ver=4.9.5' type='text/css' media='all'>
</head>
<body class="home page-template-default page page-id-5514 gdlr-core-body financity-body financity-body-front financity-full  financity-with-sticky-navigation gdlr-core-link-to-lightbox">
    <div class="financity-mobile-header-wrap">
        <div class="financity-mobile-header financity-header-background financity-style-slide" id="financity-mobile-header">
            <div class="financity-mobile-header-container financity-container">
                <div class="financity-logo  financity-item-pdlr">
                    <div class="financity-logo-inner">
                        <a href="../home/index"><img src="../upload/logo.png" alt="" width="211" height="48"></a>
                    </div>
                </div>
                <div class="financity-mobile-menu-right">
                    <div class="financity-mobile-menu">
                        <a class="financity-mm-menu-button financity-mobile-menu-button financity-mobile-button-hamburger" href="#financity-mobile-menu"><span></span></a>
                        <div class="financity-mm-menu-wrap financity-navigation-font" id="financity-mobile-menu" data-slide="right">
                            <ul id="menu-main-navigation" class="m-menu">
                                <li class="menu-item menu-item-home current-menu-item">
                                    <a href="../home/index">Home</a>
                                </li>
                                <li class="menu-item">
                                    <a href="../home/aboutus">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="../home/ourservices">Our Services</a>
                                </li>
                                <li class="menu-item">
                                    <a href="../home/calculator">Calculator</a>
                                </li>
                                <li class="menu-item">
                                    <a href="../home/downloads">Downloads</a>
                                </li>
                                <li class="menu-item">
                                    <a href="../home/reviews">Reviews</a>
                                </li>
                                <li class="menu-item">
                                    <a href="../home/contactus">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="financity-body-outer-wrapper ">
        <div class="financity-body-wrapper clearfix  financity-with-transparent-header financity-with-frame">
            <div class="financity-header-background-transparent">
                <div class="financity-top-bar">
                    <div class="financity-top-bar-background"></div>
                    <div class="financity-top-bar-container clearfix financity-container ">
                        <div class="financity-top-bar-left financity-item-pdlr">
                            <span class="gdlr-core-dropdown-tab gdlr-core-js clearfix">
                                <span class="gdlr-core-dropdown-tab-content-wrap">
                                    <span class="gdlr-core-dropdown-tab-content gdlr-core-active" data-index="0">
                                        <i class="fa fa-clock-o" style="font-size: 17px;color: #ffffff;margin-right: 10px;"></i>
                                        <strong>Mon - Fri 08:00-20:00</strong> | <strong>Sat - Sun 10:00-16:00</strong>
                                        <i class="fa fa-phone" style="font-size: 17px;color: #ffffff;margin-left: 20px;margin-right: 10px;"></i>
                                        <strong><a href="tel:0212083152">0 21 208 3152</a></strong>
                                    </span>
                                    <span class="gdlr-core-dropdown-tab-content " data-index="1">
                                        <i class="fa fa-clock-o" style="font-size: 17px;color: #ffffff;margin-right: 10px;"></i>
                                        <strong>Mon - Fri 08:00-20:00</strong> | <strong>Sat - Sun 10:00-16:00</strong>
                                        <i class="fa fa-phone" style="font-size: 17px;color: #ffffff;margin-left: 20px;margin-right: 10px;"></i>
                                        <strong><a href="tel:0212083152">0 21 208 3152</a></strong>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div class="financity-top-bar-right financity-item-pdlr">
                            <div class="financity-top-bar-right-text"><i class="fa fa-envelope-open-o" style="font-size: 17px;color: #ffffff;margin-left: 20px;margin-right: 14px;"></i><strong>Email <a href="mailto:admin@skfinance.co.nz">admin@skfinance.co.nz</a></strong></div><span class="financity-top-bar-divider financity-left-margin"></span>
                            <div class="financity-top-bar-right-social"><a href="#" target="_blank" class="financity-top-bar-social-icon" title="facebook"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="financity-top-bar-social-icon" title="google-plus"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="financity-top-bar-social-icon" title="pinterest"><i class="fa fa-pinterest-p"></i></a><a href="#" target="_blank" class="financity-top-bar-social-icon" title="twitter"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="financity-top-bar-social-icon" title="instagram"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <header class="financity-header-wrap financity-header-style-plain  financity-style-menu-right financity-sticky-navigation financity-style-slide" data-navigation-offset="75px">
                    <div class="financity-header-background"></div>
                    <div class="financity-header-container  financity-container">
                        <div class="financity-header-container-inner clearfix">
                            <div class="financity-logo  financity-item-pdlr">
                                <div class="financity-logo-inner">
                                    <a href="../home/index"><img src="~/Images/sk-logo-2.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="financity-navigation financity-item-pdlr clearfix ">
                                <div class="financity-main-menu" id="financity-main-menu">
                                    <ul id="menu-main-navigation-1" class="sf-menu">
                                        <li class="menu-item menu-item-home current-menu-item page_item page-item-2039 current_page_item financity-normal-menu">
                                            <a href="/home/index"><i class="fa fa-home"></i>Home</a>
                                        </li>
                                        <li class="menu-item financity-normal-menu">
                                            <a href="/home/aboutus" class="sf-with-ul-pre">About Us</a>
                                        </li>
                                        <li class="menu-item financity-normal-menu">
                                            <a href="/home/ourservices" class="sf-with-ul-pre">Our Services</a>
                                        </li>
                                        <li class="menu-item financity-normal-menu">
                                            <a class="nav-link" href="/home/calculator">Calculator</a>
                                        </li>
                                        <li class="menu-item financity-normal-menu">
                                            <a class="nav-link" href="/home/downloads">Downloads</a>
                                        </li>
                                        <li class="menu-item financity-normal-menu">
                                            <a class="nav-link" href="/home/reviews">Reviews</a>
                                        </li>
                                        <li class="menu-item financity-normal-menu">
                                            <a class="nav-link" href="/home/contactus">Contact Us</a>
                                        </li>
                                    </ul>
                                    <div class="financity-navigation-slide-bar" id="financity-navigation-slide-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <div class="financity-page-wrapper" id="financity-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    @RenderBody()
                    <div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 70px 0px 30px 0px;">
                        <div class="gdlr-core-pbf-background-wrap" style="background-color: #f2f2f2 ;"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container-custom" style="max-width: 1360px;">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-gallery-item gdlr-core-item-pdb clearfix  gdlr-core-gallery-item-style-grid gdlr-core-item-pdlr ">
                                        <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " data-type="carousel" data-column="5" data-nav="none" data-nav-parent="gdlr-core-blog-item">
                                            <ul class="slides">
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/banner-3.png" alt="" width="148" height="44"></div>
                                                </li>
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/banner-4.png" alt="" width="132" height="46"></div>
                                                </li>
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/banner-2.png" alt="" width="141" height="45"></div>
                                                </li>
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/banner-1.png" alt="" width="138" height="49"></div>
                                                </li>
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/banner-5.png" alt="" width="151" height="43"></div>
                                                </li>
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/banner-4.png" alt="" width="132" height="46"></div>
                                                </li>
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/banner-2.png" alt="" width="141" height="45"></div>
                                                </li>
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/banner-1.png" alt="" width="138" height="49"></div>
                                                </li>
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/banner-5.png" alt="" width="151" height="43"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="financity-footer-wrapper ">
                    <div class="financity-footer-container financity-container clearfix">
                        <div class="financity-footer-column financity-item-pdlr financity-column-15">
                            <div id="text-2" class="widget widget_text financity-widget">
                                <div class="textwidget">
                                    <p><img src="~/Images/sk-logo-2.jpg" alt=""></p>
                                    <p>
                                        <i class="fa fa-location-arrow" style="font-size: 16px;color: #ffffff;margin-right: 10px;"></i>&nbsp;3024a Great North Road, New Lynn, Auckland 0600, New Zealand
                                        <br> <span class="gdlr-core-space-shortcode" style="margin-top: 10px;"></span> <i class="fa fa-phone" style="font-size: 16px;color: #ffffff;margin-right: 10px;"></i> <a href="tel:0212083152">0 21 208 3152</a>
                                        <br> <span class="gdlr-core-space-shortcode" style="margin-top: 10px;"></span> <i class="fa fa-envelope-open-o" style="font-size: 16px;color: #ffffff;margin-right: 10px;"></i> <a href="mailto:admin@skfinance.co.nz">admin@skfinance.co.nz</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="financity-footer-column financity-item-pdlr financity-column-15">
                            <div id="nav_menu-1" class="widget widget_nav_menu financity-widget">
                                <h3 class="financity-widget-title">Useful Links</h3>
                                <div class="menu-useful-links-container">
                                    <ul id="menu-useful-links" class="menu">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5507">
                                            <a href="../home/aboutus">About Us</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5506">
                                            <a href="../home/ourservices">Our Services</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5512">
                                            <a href="../home/calculator">
                                                Calculator
                                            </a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5508">
                                            <a href="../home/downloads">Downloads</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5509">
                                            <a href="../home/reviews">Reviews</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5509">
                                            <a href="~/Attachments/Privacy-Policy.pdf" target="_blank">Privacy Policy</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5509">
                                            <a href="~/Attachments/skm-disclosure-24.pdf" target="_blank">Disclosure Form</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="financity-footer-column financity-item-pdlr financity-column-30">
                            <div id="text-4" class="widget widget_text financity-widget">
                                <h3 class="financity-widget-title">Contact Form</h3>
                                <div class="textwidget">
                                    <div role="form" class="wpcf7" id="wpcf7-f5505-o2" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <form action="/home/contactus/#wpcf7-f5505-o2" method="post" class="wpcf7-form" novalidate="novalidate">
                                            <div class="gdlr-core-input-wrap gdlr-core-small gdlr-core-full-width gdlr-core-with-column gdlr-core-no-border">
                                                <div class="gdlr-core-column-60"><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Full Name*"></span></div>
                                                <div class="clear"></div>
                                                <div class="gdlr-core-column-60"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email*"></span></div>
                                                <div class="clear"></div>
                                                <div class="gdlr-core-column-60"><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Message*"></textarea></span></div>
                                                <div class="gdlr-core-column-60 gdlr-core-left-align">
                                                    <input type="submit" value="Submit Now" class="wpcf7-form-control wpcf7-submit gdlr-core-small">
                                                </div>
                                            </div>
                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="financity-copyright-wrapper">
                    <div class="financity-copyright-container financity-container clearfix">
                        <div class="financity-copyright-left financity-item-pdlr">Copyright @System.DateTime.Now.Year. Website Design & Developed By <a href="http://coditechsoftware.com/" target="_blank"><strong style="color:#ffffff;">Coditech Innovations Pvt. Ltd</strong></a></div>
                        <div class="financity-copyright-right financity-item-pdlr">
                            <a href="#" target="_self"><i class="fa fa-facebook" style="font-size: 16px;color: #ffffff;margin-left: 17px;"></i></a>
                            <a href="#" target="_self"><i class="fa fa-twitter" style="font-size: 16px;color: #ffffff;margin-left: 17px;"></i></a>
                            <a href="#" target="_self"><i class="fa fa-linkedin" style="font-size: 16px;color: #ffffff;margin-left: 17px;"></i></a>
                            <a href="#" target="_self"><i class="fa fa-google-plus" style="font-size: 16px;color: #ffffff;margin-left: 17px;"></i></a>
                            <a href="#" target="_self"><i class="fa fa-instagram" style="font-size: 16px;color: #ffffff;margin-left: 17px;"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script type='text/javascript' src='../js/jquery/jquery.js'></script>
    <script type='text/javascript' src='../js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='../plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='../plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js'></script>


    <!--[if lt IE 9]> <script type='text/javascript' src='https://demo.goodlayers.com/financity/wp-content/themes/financity/js/html5.js'></script> <![endif]-->

    <script type='text/javascript' src='../js/jquery/ui/effect.min.js'></script>
    <script type='text/javascript'>
        var financity_script_core = {
            "home_url": "index.html//"
        };
    </script>
    <script type='text/javascript' src='../js/script-core.js'></script>

    <script type='text/javascript' src='../plugins/goodlayers-core/plugins/combine/script.js'></script>
    <script type='text/javascript'>
        var gdlr_core_pbf = {
            "admin": "",
            "video": {
                "width": "640",
                "height": "360"
            },
            "ajax_url": "https:////demo.goodlayers.com//financity//wp-admin//admin-ajax.php",
            "ilightbox_skin": "dark"
        };
    </script>

    @*-------Slider----------*@
    <script type='text/javascript' src='../plugins/goodlayers-core/include/js/page-builder.js'></script>
    <script type="text/javascript" src="../plugins/revslider/public/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="../plugins/revslider/public/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="../plugins/revslider/public/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="../plugins/revslider/public/assets/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="../plugins/revslider/public/assets/js/extensions/revolution.extension.parallax.min.js"></script>
    <script>
        /*<![CDATA[*/
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
        var htmlDivCss = "";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        } /*]]>*/
    </script>
    <script>
        /*<![CDATA[*/
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
        var htmlDivCss = "";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        } /*]]>*/
    </script>
    <script type="text/javascript">
        /*<![CDATA[*/
        var setREVStartSize = function () {
            try {
                var e = new Object,
                    i = jQuery(window).width(),
                    t = 9999,
                    r = 0,
                    n = 0,
                    l = 0,
                    f = 0,
                    s = 0,
                    h = 0;
                e.c = jQuery('#rev_slider_1_1');
                e.gridwidth = [1300];
                e.gridheight = [790];
                e.sliderLayout = "auto";
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) {
                    f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function (e, i) {
                            u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                        }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({
                    height: f
                })
            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        };
        setREVStartSize();
        var tpj = jQuery;
        var revapi1;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_1_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1_1");
            } else {
                revapi1 = tpj("#rev_slider_1_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "//demo.goodlayers.com/financity/demo2/wp-content/plugins/revslider/public/assets/js/",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        mouseScrollReverse: "default",
                        onHoverStop: "off",
                        arrows: {
                            style: "uranus",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        },
                        bullets: {
                            enable: true,
                            hide_onmobile: false,
                            style: "uranus",
                            hide_onleave: false,
                            direction: "horizontal",
                            h_align: "center",
                            v_align: "bottom",
                            h_offset: 0,
                            v_offset: 30,
                            space: 10,
                            tmp: '<span class="tp-bullet-inner"></span>'
                        }
                    },
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1300,
                    gridheight: 790,
                    lazyType: "none",
                    parallax: {
                        type: "mouse",
                        origo: "enterpoint",
                        speed: 400,
                        levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                    },
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*]]>*/
    </script>
    <script>
        /*<![CDATA[*/
        var htmlDivCss = unescape("%23rev_slider_1_1%20.uranus.tparrows%20%7B%0A%20%20width%3A50px%3B%0A%20%20height%3A50px%3B%0A%20%20background%3Argba%28255%2C255%2C255%2C0%29%3B%0A%20%7D%0A%20%23rev_slider_1_1%20.uranus.tparrows%3Abefore%20%7B%0A%20width%3A50px%3B%0A%20height%3A50px%3B%0A%20line-height%3A50px%3B%0A%20font-size%3A40px%3B%0A%20transition%3Aall%200.3s%3B%0A-webkit-transition%3Aall%200.3s%3B%0A%20%7D%0A%20%0A%20%20%23rev_slider_1_1%20.uranus.tparrows%3Ahover%3Abefore%20%7B%0A%20%20%20%20opacity%3A0.75%3B%0A%20%20%7D%0A%23rev_slider_1_1%20.uranus%20.tp-bullet%7B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C%200%29%3B%0A%20%20-webkit-transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20background%3Atransparent%3B%0A%20%20width%3A15px%3B%0A%20%20height%3A15px%3B%0A%7D%0A%23rev_slider_1_1%20.uranus%20.tp-bullet.selected%2C%0A%23rev_slider_1_1%20.uranus%20.tp-bullet%3Ahover%20%7B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C1%29%3B%0A%20%20border%3Anone%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background%3Atransparent%3B%0A%7D%0A%0A%23rev_slider_1_1%20.uranus%20.tp-bullet-inner%20%7B%0A%20%20-webkit-transition%3A%20background-color%200.3s%20ease%2C%20-webkit-transform%200.3s%20ease%3B%0A%20%20transition%3A%20background-color%200.3s%20ease%2C%20transform%200.3s%20ease%3B%0A%20%20top%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20height%3A%20100%25%3B%0A%20%20outline%3A%20none%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background-color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20background-color%3A%20rgba%28255%2C%20255%2C%20255%2C%200.3%29%3B%0A%20%20text-indent%3A%20-999em%3B%0A%20%20cursor%3A%20pointer%3B%0A%20%20position%3A%20absolute%3B%0A%7D%0A%0A%23rev_slider_1_1%20.uranus%20.tp-bullet.selected%20.tp-bullet-inner%2C%0A%23rev_slider_1_1%20.uranus%20.tp-bullet%3Ahover%20.tp-bullet-inner%7B%0A%20transform%3A%20scale%280.4%29%3B%0A%20-webkit-transform%3A%20scale%280.4%29%3B%0A%20background-color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%7D%0A");
        var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
        } /*]]>*/
    </script>
    @*-------End Slider----------*@

    @*-------Google Map----------*@

    <script type='text/javascript' src='https://maps.google.com/maps/api/js?libraries=geometry%2Cplaces%2Cweather%2Cpanoramio%2Cdrawing&#038;language=en&#038;ver=4.9.5'></script>
    <script type='text/javascript'>
        var wpgmp_local = {
            "all_location": "All",
            "show_locations": "Show Locations",
            "sort_by": "Sort by",
            "wpgmp_not_working": "not working...",
            "place_icon_url": "https:////demo.goodlayers.com//financity//wp-content//plugins//wp-google-map-plugin//assets//images//icons//"
        };
    </script>
    <script type='text/javascript' src='~/plugins/google-map-plugin/assets/js/maps.js'></script>

    <script type='text/javascript' src='~/plugins/google-map-plugin/assets/js/frontend.js'></script>
    <script type='text/javascript' src='~/plugins/goodlayers-core/include/js/page-builder.js'></script>
    <script>
        jQuery(document).ready(function ($) {
            var map1 = $("#map1").maps({
                "map_options": {
                    "center_lat": "-36.9047914",
                    "center_lng": "174.6827758",
                    "zoom": 14,
                    "map_type_id": "ROADMAP",
                    "draggable": true,
                    "scroll_wheel": false,
                    "display_45_imagery": "",
                    "marker_default_icon": "../images//default_marker.png",
                    "infowindow_setting": "",
                    "infowindow_bounce_animation": "",
                    "infowindow_drop_animation": false,
                    "close_infowindow_on_map_click": false,
                    "default_infowindow_open": false,
                    "infowindow_open_event": "click",
                    "full_screen_control": true,
                    "search_control": true,
                    "zoom_control": true,
                    "map_type_control": true,
                    "street_view_control": true,
                    "full_screen_control_position": "TOP_RIGHT",
                    "search_control_position": null,
                    "zoom_control_position": "TOP_LEFT",
                    "map_type_control_position": "TOP_RIGHT",
                    "map_type_control_style": "HORIZONTAL_BAR",
                    "street_view_control_position": "TOP_LEFT",
                    "map_control": true,
                    "map_control_settings": null,
                    "width": "",
                    "height": "400"
                },
                "places": [{
                    "id": "1",
                    "title": "Auckland",
                    "address": "London, New Zealand",
                    "source": "manual",
                    "content": "Auckland",
                    "location": {
                        "icon": "../images//default_marker.png",
                        "lat": "-36.9047914",
                        "lng": "174.6827758",
                        "city": "Auckland",
                        "state": "Auckland",
                        "country": "New Zealand",
                        "onclick_action": "marker",
                        "redirect_custom_link": "",
                        "marker_image": null,
                        "open_new_tab": "yes",
                        "postal_code": "",
                        "draggable": false,
                        "infowindow_default_open": false,
                        "animation": "BOUNCE",
                        "infowindow_disable": true,
                        "zoom": 5,
                        "extra_fields": null
                    },
                    "categories": [],
                    "custom_filters": null
                }],
                "street_view": null,
                "map_property": {
                    "map_id": "1"
                }
            }).data("wpgmp_maps");
        });
    </script>
    <script type="text/javascript" src="~/quform/js/plugins.js"></script>
    <script type="text/javascript" src="~/quform/js/scripts.js"></script>
    @*-------Google Map----------*@
    @RenderSection("scripts", required: false)
</body>
</html>
