@{
    Layout = null;
}
<div class="financity-mobile-header-wrap">
    <div class="financity-mobile-header financity-header-background financity-style-slide" id="financity-mobile-header">
        <div class="financity-mobile-header-container financity-container">
            <div class="financity-logo  financity-item-pdlr">
                <div class="financity-logo-inner">
                    <a href="../home/index"><img src="../Images/sk-logo-2.png" alt="" width="600" height="60"></a>
                </div>
            </div>
            <div class="financity-mobile-menu-right">
                <div class="financity-mobile-menu">
                    <a class="financity-mm-menu-button financity-mobile-menu-button financity-mobile-button-hamburger" href="#financity-mobile-menu"><span></span></a>
                    <div class="financity-mm-menu-wrap financity-navigation-font" id="financity-mobile-menu" data-slide="right">
                        <ul id="menu-main-navigation" class="m-menu">
                            <li class="menu-item menu-item-home current-menu-item">
                                <a href="../home/index">Home</a>
                            </li>
                            <li class="menu-item">
                                <a href="../home/aboutus">About Us</a>
                            </li>
                            <li class="menu-item">
                                <a href="../home/ourservices">Our Services</a>
                            </li>
                            <li class="menu-item">
                                <a href="../home/calculator">Calculator</a>
                            </li>
                            <li class="menu-item">
                                <a href="../home/downloads">Downloads</a>
                            </li>
                            <li class="menu-item">
                                <a href="../home/reviews">Reviews</a>
                            </li>
                            <li class="menu-item">
                                <a href="../home/contactus">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>