@{
    Layout = null;
}
<div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 15px 0px 15px 0px;">
    <div class="gdlr-core-pbf-background-wrap" style="background-color: #f7f7f7;"></div>
    <div class="owl-slider">
        <ul id="carousel" class="owl-carousel list-unstyled">
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/BankLogo/partner1.jpg" alt="" width="148" height="44"></div>
            </li>
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/BankLogo/partner2.jpg" alt="" width="132" height="46"></div>
            </li>
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/BankLogo/partner3.jpg" alt="" width="141" height="45"></div>
            </li>
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/BankLogo/partner4.jpg" alt="" width="138" height="49"></div>
            </li>
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/BankLogo/partner5.jpg" alt="" width="151" height="43"></div>
            </li>
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/BankLogo/partner6.jpg" alt="" width="132" height="46"></div>
            </li>
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/BankLogo/kiwibank.png" alt="" width="151" height="43"></div>
            </li>
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/BankLogo/Liberty.png" alt="" width="151" height="43"></div>
            </li>
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/BankLogo/partner7.jpg" alt="" width="141" height="45"></div>
            </li>
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/BankLogo/partner8.jpg" alt="" width="138" height="49"></div>
            </li>
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/BankLogo/partner9.jpg" alt="" width="151" height="43"></div>
            </li>
            @*<li class="gdlr-core-item-mglr">
                    <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/BankLogo/partner10.jpg" alt="" width="151" height="43"></div>
                </li>*@
        </ul>
    </div>
</div>