@{
    ViewBag.Title = "About Us";
}
<div class="financity-page-title-wrap  financity-style-custom financity-left-align">
    <div class="financity-header-transparent-substitute"></div>
    <div class="financity-page-title-overlay"></div>
    <div class="financity-page-title-container financity-container">
        <div class="financity-page-title-content financity-item-pdlr">
            <h1 class="financity-page-title" style="text-align: center;">About Us</h1>
        </div>
    </div>
</div>
<div class="gdlr-core-pbf-wrapper" style="padding: 85px 0px 35px 0px;">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-bottom: 30px;"><img src="../upload/about-icon-1.png" alt="" width="70" height="60"></div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 20px;">
                                        <h3 class="gdlr-core-column-service-title" style="font-size: 19px;font-weight: 500;letter-spacing: 0px;text-transform: none;">Why Choose Us?</h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                        <p>
                                            Personalized Service: Our commitment is to deliver services meticulously tailored to your individual requirements.
                                            <br />
                                            Constant Communication: We maintain open lines of communication, ensuring you are informed and confident at every step of the loan application process.
                                            <br />
                                            Accessible Support: Have concerns or questions? We’re here for you. Count on us to be available, ready to address any queries and provide guidance whenever you need it.
                                            <br />
                                            Choose SKM Finance for a customised, attentive, and accessible lending experience tailored just for you.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-20">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-bottom: 26px;"><img src="../upload/about-icon-2.png" alt="" width="70" height="64"></div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 20px;">
                                        <h3 class="gdlr-core-column-service-title" style="font-size: 19px;font-weight: 500;letter-spacing: 0px;text-transform: none;">How Can We Help?</h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                        <p>At SKM, our expertise stems from years in the finance industry, including award-winning tenure as a mortgage advisor at BNZ. Since 2018, we’ve been your dedicated independent mortgage advisor, extending our services nationwide. No matter where you are in New Zealand, SKM is here to transform your financial aspirations into achievements.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-20">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-bottom: 30px;"><img src="../upload/about-icon-3.png" alt="" width="61" height="61"></div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 20px;">
                                        <h3 class="gdlr-core-column-service-title" style="font-size: 19px;font-weight: 500;letter-spacing: 0px;text-transform: none;">Our Promise to You</h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                        <p>
                                            We commit to providing personalised solutions, tailoring our services to your unique needs and aspirations.
                                            <br />
                                            We promise to maintain open and regular communication with you during every step of the loan application process.
                                            <br />
                                            We are dedicated to being there whenever you need us, ready to address any concerns or questions to ensure your confidence and peace of mind throughout your financial journey.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gdlr-core-pbf-wrapper about-section" style="margin: 0px 0px 0px 0px;padding: 110px 0px 135px 0px;" data-skin="Hp2 Column Service">
    <div class="gdlr-core-pbf-background-wrap">
        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(&quot;../Images/SDM-about-us.jpg&quot;); background-size: cover; background-position: center center; height: 1000px!important; transform: translate(0px, 13.525px);" data-parallax-speed="0.1"></div>
    </div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="margin: -210px 0px 0px 0px;padding: 0px 0px 10px 0px;">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-center-align">
                                <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;"><img src="/images/SKM-8.png" alt="" width="731" height="443"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                    <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 15px;font-style: normal;letter-spacing: 1px;text-transform: uppercase;color: #ffffff;">Our Little Story</span>
                    <div class="gdlr-core-title-item-title-wrap ">
                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 44px;font-weight: 700;letter-spacing: 0px;text-transform: none;color: #ffffff;">
                            Read The Story Behind Our Success<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-columnize-item gdlr-core-item-pdlr gdlr-core-item-pdb " style="padding-bottom: 20px;">
                    <div class="gdlr-core-skin-divider" style="font-size: 18px;column-gap: 50px;-moz-column-gap: 50px;-webkit-column-gap: 50px;column-rule-width: 0px;-moz-column-rule-width: 0px;-webkit-column-rule-width: 0px;">
                        <p>
                            Namaskar / Kiaora – I am Sandeep Khanna, your friendly neighbourhood mortgage
                            adviser, based in Christchurch and proudly helping Kiwis all over Aotearoa secure their
                            first homes, grow investment portfolios, buy businesses, or finance new assets with
                            expert caring local expert advice and just the right amount of banter.
                        </p>
                        <p>
                            Originally from India, I’ve now called New Zealand home for over 20 years. Like many
                            immigrants my journey began with odd jobs, long hours, and learning everything the
                            hard way  and later stepping into the world of banking with BNZ back in end of 2017
                            After three years there — and one major leap of faith I decided to start my own mortgage
                            advisory business. No one in my family had ever run a business before, so let’s just say
                            there were a few raised eyebrows (and a few extra cups of chai). But thanks to
                            unwavering support from my whanau and community, here I am 4+ years in, running a
                            successful business that’s helped draw down close to$1.0 billion in lending since I first
                            entered banking and then into Mortgage advisory
                        </p>
                        <p>
                            I still remember the feeling of walking into a bank with more questions than answers.
                            That’s why I bring not just experience, but empathy to every conversation. I’ve walked
                            that path  from being new in a country, to working in different job roles.No one in my
                            family had ever run a business  but here we are, four years later running a company
                            that’s drawn down over $1.0 Billion in lending.
                        </p>
                        <p>
                            Along the way, I’ve been humbled to be recognised as New Zealand’s Top Mortgage
                            Adviser two years in a row, as well as a proud recipient of NZA Excellence Awards. But
                            beyond the numbers, what truly drives me is helping people especially first-home
                            buyers and new migrants navigate what can be a confusing and emotional financial
                            journey with clarity, care, and confidence.
                        </p>
                        <p>
                            Whether you’re feeling overwhelmed by home loan lingo unsure how to get started with
                            an investment, or need help structuring finance for a business dream, I’m here to guide
                            you with honesty, heart, and  some humour to keep things human.
                        </p>
                        <p>
                            When I’m not deep in spreadsheets or lender calls, you’ll probably find me playing
                            Outside work, I love watching movies, biking, playing cricket (yes, I’m a cliché), biking
                            around the Port Hills, or organising community events like the Christchurch Holi Festival
                            and Ganesh Chaturthi celebrations  because bringing people together is what I love,
                            both professionally and personally.
                        </p>
                        <p>
                            If you’re ready to make your next move whether it’s your first home, next investment, or
                            that big business dream let’s chat.
                        </p>
                        <p>
                            I promise, there’s no such thing as a silly question… except maybe asking me to pick
                            between cricket and work (spoiler: I’ll still choose clients — most of the time).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gdlr-core-pbf-wrapper " style="margin: 30px 0px 0px 0px;padding: 90px 0px 10px 0px;">
    <div class="gdlr-core-pbf-background-wrap">
        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(../Images/about-title-bg-team-1.png); background-repeat: no-repeat; background-position: top center;" data-parallax-speed="0"></div>
    </div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                    <div class="gdlr-core-title-item-title-wrap ">
                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 46px;font-weight: 600;letter-spacing: 0px;text-transform: none;">Our Team<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                    </div>
                </div>
            </div>

            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-personnel-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-personnel-item-style-grid-with-background gdlr-core-personnel-style-grid gdlr-core-with-background gdlr-core-item-pdlr" style="padding-bottom: 25px;">
                    <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " data-type="carousel" data-column="3" data-nav="bullet" data-nav-parent="gdlr-core-personnel-item" data-disable-autoslide="1">
                        <ul class="slides">
                            <li class="gdlr-core-item-mglr">
                                <div class="gdlr-core-personnel-list gdlr-core-outer-frame-element clearfix" style="box-shadow: 0px 0px 40px rgba(28, 28, 28,0.07); -moz-box-shadow: 0px 0px 40px rgba(28, 28, 28,0.07); -webkit-box-shadow: 0px 0px 40px rgba(28, 28, 28,0.07); ">
                                    <div class="gdlr-core-personnel-list-image gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                        <a href="#" title="Founder and director, recognized among New Zealand's Top Advisers in 2022-23 and 23-24 Sandeep is supported by a dynamic team of professionals, each bringing unique strengths.">
                                            <img src="../Images/personnel-1.jpg" alt="" width="600" height="465">
                                        </a>
                                    </div>
                                    <div class="gdlr-core-personnel-list-content-wrap" style="padding-top: 35px;">
                                        <h3 class="gdlr-core-personnel-list-title" style="font-size: 21px;font-weight: 600;letter-spacing: 0px;text-transform: none;">
                                            <a href="#">Sandeep Khanna</a>
                                        </h3>
                                        <div class="gdlr-core-personnel-list-position gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 16px;font-weight: 400;font-style: normal;letter-spacing: 0px;">Director</div>
                                        <div class="gdlr-core-personnel-list-content">
                                            <p>
                                                <a href="tel:0212083152">021 208 3152</a>
                                                <br> <a href="mailto:sandeep@skfinance.co.nz">sandeep@skfinance.co.nz</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="gdlr-core-item-mglr">
                                <div class="gdlr-core-personnel-list gdlr-core-outer-frame-element clearfix" style="box-shadow: 0px 0px 40px rgba(28, 28, 28,0.07); -moz-box-shadow: 0px 0px 40px rgba(28, 28, 28,0.07); -webkit-box-shadow: 0px 0px 40px rgba(28, 28, 28,0.07); ">
                                    <div class="gdlr-core-personnel-list-image gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                        <a href="#" title="A seasoned expert with experience at major banks, known for exceptional customer service and tailored solutions. a seasoned expert with experience at ANZ, BNZ, and ASB. Renowned for her exceptional customer service skills Mona has become one of the most loved people by patrons in the industry. She brings her warmth and expertise to offer clients unmatched flexibility and tailored solutions that perfectly suit their needs."><img src="../Images/personnel-2.jpg" alt="" width="600" height="465"></a>
                                    </div>
                                    <div class="gdlr-core-personnel-list-content-wrap" style="padding-top: 35px;">
                                        <h3 class="gdlr-core-personnel-list-title" style="font-size: 21px;font-weight: 600;letter-spacing: 0px;text-transform: none;"><a href="#">Mona Khanna</a></h3>
                                        <div class="gdlr-core-personnel-list-position gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 16px;font-weight: 400;font-style: normal;letter-spacing: 0px;">Administrative Assistant</div>
                                        <div class="gdlr-core-personnel-list-content">
                                            <p>
                                                <a href="tel:0211012326">021 101 2326</a>
                                                <br> <a href="mailto:admin@skfinance.co.nz">admin@skfinance.co.nz</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="gdlr-core-item-mglr">
                                <div class="gdlr-core-personnel-list gdlr-core-outer-frame-element clearfix" style="box-shadow: 0px 0px 40px rgba(28, 28, 28,0.07); -moz-box-shadow: 0px 0px 40px rgba(28, 28, 28,0.07); -webkit-box-shadow: 0px 0px 40px rgba(28, 28, 28,0.07); ">
                                    <div class="gdlr-core-personnel-list-image gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                        <a href="#" title="An experienced professional with over 7 years at ANZ, specializing in guiding first-home buyers, investors, and business owners. an experienced and empathetic professional Over 7 years’ experience with  ANZ, New Zealand’s largest bank. As an immigrant herself, she connects deeply with clients and specializes in guiding first-home buyers, investors, and business owners."><img src="../Images/personnel-3.jpg" alt="" width="600" height="465"></a>
                                    </div>
                                    <div class="gdlr-core-personnel-list-content-wrap" style="padding-top: 35px;">
                                        <h3 class="gdlr-core-personnel-list-title" style="font-size: 21px;font-weight: 600;letter-spacing: 0px;text-transform: none;"><a href="#">Rasleen Kaur</a></h3>
                                        <div class="gdlr-core-personnel-list-position gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 16px;font-weight: 400;font-style: normal;letter-spacing: 0px;">Financial Advisor</div>
                                        <div class="gdlr-core-personnel-list-content">
                                            <p>
                                                <a href="tel:0224049679">022 404 9679</a>
                                                <br> <a href="mailto:rasleen@skfinance.co.nz">rasleen@skfinance.co.nz</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gdlr-core-pbf-wrapper " style="padding: 55px 0px 0px 0px;" data-skin="Purple Personnel">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-left" data-sync-height="half-height">
                    <div class="gdlr-core-pbf-background-wrap">
                        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(../Images/shutterstock_417862237.jpg);background-size: cover;background-position: center;" data-parallax-speed="0.2"></div>
                    </div>
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content"></div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-30">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 85px 0px 25px 60px;" data-sync-height="half-height">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-top: 10px;margin-right: 30px;"><img src="../upload/about-icon-7.png" alt="" width="46" height="46"></div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap">
                                        <h3 class="gdlr-core-column-service-title" style="font-size: 22px;font-weight: 600;text-transform: none;">No Hidden Fees.</h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                        <p>As a home buyer, the main cost you’re probably focusing on is the price of the property. We do not charge any hidden fees, or log any hours.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-top: 10px;margin-right: 30px;"><img src="../upload/about-icon-8.png" alt="" width="45" height="45"></div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap">
                                        <h3 class="gdlr-core-column-service-title" style="font-size: 22px;font-weight: 600;text-transform: none;">Free Property Appraisals.</h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                        <p>When selling your house, a FREE property appraisal is a good point to start. Rely on the experts to evaluate your property and avoid any pitfalls.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-top: 10px;margin-right: 30px;"><img src="../upload/about-icon-9.png" alt="" width="46" height="46"></div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap">
                                        <h3 class="gdlr-core-column-service-title" style="font-size: 22px;font-weight: 600;text-transform: none;">Detail Oriented Approach.</h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                        <p>Rely on Sandeep to get you favourable deals while liaising with lenders. His team is organised and attention to every detail is their point of difference.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
