@{
    ViewBag.Title = "Home Page";
}
<div class="financity-page-wrapper" id="financity-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper " style="padding: 58px 0px 0px 0px;" id="gdlr-core-wrapper-1">
            <div class="gdlr-core-pbf-background-wrap" style="background-color: #172852 ;"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-revolution-slider-item gdlr-core-item-pdlr gdlr-core-item-pdb " style="padding-bottom: 0px;">
                            <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin: 0px auto; background: transparent; padding: 0px; height: 790px; overflow: visible;">
                                <div id="rev_slider_1_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive rev_redraw_on_blurfocus" style="margin-top: 0px; margin-bottom: 0px; height: 790px;" data-version="5.4.1" data-slideactive="rs-1">
                                    <ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 1519px; height: 100%; max-height: none; left: 0px;">
                                        <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="Images/slider-2-1-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; background-color: rgba(255, 255, 255, 0);">
                                            <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="Images/slider-2-1.jpg" alt="" title="Homepage 2" data-bgposition="center top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg defaultimg" data-no-retina="">--><div class="tp-bgimg defaultimg " data-bgcolor="undefined" style="background-repeat: no-repeat; background-image: url(&quot;../Images/slider-2-1.jpg&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20; " src="../Images/slider-2-1.jpg"></div><div class="tp-kbimg-wrap " style="z-index: 2; width: 100%; height: 100%; top: 0px; left: 0px; position: absolute; transform: translate3d(0px, 0px, 0px); transform-origin: 0% 0% 0px;"><img class="tp-kbimg" src="~/Images/slider-2-1.jpg" style="position: absolute; height: 844px; width: 1519px; transform: matrix3d(1, 0.0001745, 0, 0, -0.0001745, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 0% 0% 0px;" width="1600" height="889"></div></div>
                                            <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; left: 138px; top: 266px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption   tp-resizeme" id="slide-2-layer-1" data-x="28" data-y="center" data-voffset="-20" data-width="[&#39;auto&#39;]" data-height="[&#39;auto&#39;]" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-textalign="[&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;]" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 128px; font-weight: 700; color: rgb(255, 255, 255); letter-spacing: 0px; font-family: Montserrat; visibility: inherit; transition: none; text-align: inherit; line-height: 217px; border-width: 0px; margin: 0px; padding: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">growing business</div></div></div></div>
                                            <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; left: 147px; top: 249px; z-index: 6;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption   tp-resizeme" id="slide-2-layer-6" data-x="37" data-y="center" data-voffset="-95" data-width="[&#39;auto&#39;]" data-height="[&#39;auto&#39;]" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-textalign="[&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;]" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 60px; font-weight: 400; color: rgb(137, 166, 239); letter-spacing: 0px; font-family: Montserrat; visibility: inherit; transition: none; text-align: inherit; line-height: 102px; border-width: 0px; margin: 0px; padding: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">we help</div></div></div></div>
                                            <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; left: 148px; top: 469px; z-index: 7;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption   tp-resizeme" id="slide-2-layer-2" data-x="38" data-y="center" data-voffset="107" data-width="[&#39;724&#39;]" data-height="[&#39;65&#39;]" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:280,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-textalign="[&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;]" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; min-width: 724px; max-width: 724px; white-space: normal; font-size: 20px; line-height: 32px; font-weight: 400; color: rgb(255, 255, 255); letter-spacing: 0px; font-family: &quot;Open Sans&quot;; visibility: inherit; transition: none; text-align: inherit; border-width: 0px; margin: 0px; padding: 0px; min-height: 65px; max-height: 65px; opacity: 0.0001; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">We help you managing asset, provide financial advise. Leave money issue with us and focus on your core business.</div></div></div></div>
                                            <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; left: 146px; top: 561px; z-index: 8;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption rev-btn  rs-hover-ready" id="slide-2-layer-4" data-x="36" data-y="center" data-voffset="196" data-width="[&#39;auto&#39;]" data-height="[&#39;auto&#39;]" data-type="button" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:640,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;frame&quot;:&quot;hover&quot;,&quot;speed&quot;:&quot;0&quot;,&quot;ease&quot;:&quot;Linear.easeNone&quot;,&quot;to&quot;:&quot;o:1;rX:0;rY:0;rZ:0;z:0;&quot;,&quot;style&quot;:&quot;c:rgb(255,255,255);bg:rgb(55,64,176);bs:solid;bw:0 0 0 0;&quot;}]" data-textalign="[&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;]" data-paddingtop="[21,21,21,21]" data-paddingright="[39,39,39,39]" data-paddingbottom="[21,21,21,21]" data-paddingleft="[39,39,39,39]" style="z-index: 8; white-space: nowrap; font-size: 16px; line-height: 17px; font-weight: 700; color: rgb(55, 64, 176); letter-spacing: 0px; font-family: Asap; background-color: rgb(255, 255, 255); border-color: rgb(0, 0, 0); border-radius: 30px; outline: none; box-shadow: none; box-sizing: border-box; cursor: pointer; visibility: inherit; transition: none; text-align: inherit; border-width: 0px; margin: 0px; padding: 21px 39px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">Contact Us</div></div></div></div>
                                        </li>
                                        <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="Images/slider-1-1-1-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1; background-color: rgba(255, 255, 255, 0);">
                                            <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="Images/slider-1-1-1.jpg" alt="" title="Homepage 2" data-bgposition="center top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg defaultimg" data-no-retina="">--><div class="tp-bgimg defaultimg " data-bgcolor="undefined" style="background-repeat: no-repeat; background-image: url(&quot;../Images/slider-1-1-1.jpg&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="../Images/slider-1-1-1.jpg"></div><div class="tp-kbimg-wrap " style="z-index: 2; width: 100%; height: 100%; top: 0px; left: 0px; position: absolute; transform: translate3d(-41.7269px, 0px, 0px); transform-origin: 0% 0% 0px;"><img class="tp-kbimg" src="~/Images/slider-1-1-1.jpg" style="position: absolute; height: 844px; width: 1519px; transform: matrix3d(1.05494, 8.29e-05, 0, 0, -8.29e-05, 1.05494, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 0% 0% 0px;" width="1600" height="889"></div></div>
                                            <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 134px; top: 265px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption   tp-resizeme" id="slide-1-layer-1" data-x="24" data-y="center" data-voffset="-19" data-width="[&#39;auto&#39;]" data-height="[&#39;auto&#39;]" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-textalign="[&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;]" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 130px; font-weight: 700; color: rgb(255, 255, 255); letter-spacing: 0px; font-family: Montserrat; visibility: inherit; transition: none; text-align: inherit; line-height: 221px; border-width: 0px; margin: 0px; padding: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">Financity</div></div></div></div>
                                            <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 147px; top: 448px; z-index: 6;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption   tp-resizeme" id="slide-1-layer-2" data-x="37" data-y="center" data-voffset="85" data-width="[&#39;642&#39;]" data-height="[&#39;auto&#39;]" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:280,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-textalign="[&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;]" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; min-width: 642px; max-width: 642px; white-space: normal; font-size: 20px; line-height: 32px; font-weight: 400; color: rgb(255, 255, 255); letter-spacing: 0px; font-family: &quot;Open Sans&quot;; visibility: inherit; transition: none; text-align: inherit; border-width: 0px; margin: 0px; padding: 0px; min-height: 0px; max-height: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">We help you managing asset, provide financial advise. Leave money issue with us and focus on your core business.</div></div></div></div>
                                            <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 146px; top: 545px; z-index: 7;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption rev-btn  rs-hover-ready" id="slide-1-layer-3" data-x="36" data-y="center" data-voffset="179" data-width="[&#39;auto&#39;]" data-height="[&#39;auto&#39;]" data-type="button" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:490,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;frame&quot;:&quot;hover&quot;,&quot;speed&quot;:&quot;0&quot;,&quot;ease&quot;:&quot;Linear.easeNone&quot;,&quot;to&quot;:&quot;o:1;rX:0;rY:0;rZ:0;z:0;&quot;,&quot;style&quot;:&quot;c:rgb(37,64,153);bg:rgb(255,255,255);&quot;}]" data-textalign="[&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;]" data-paddingtop="[19,19,19,19]" data-paddingright="[37,37,37,37]" data-paddingbottom="[19,19,19,19]" data-paddingleft="[37,37,37,37]" style="z-index: 7; white-space: nowrap; font-size: 16px; line-height: 17px; font-weight: 700; color: rgb(255, 255, 255); letter-spacing: 0px; font-family: Asap; background-color: rgba(55, 64, 176, 0); border-color: rgb(255, 255, 255); border-style: solid; border-width: 1px; border-radius: 30px; outline: none; box-shadow: none; box-sizing: border-box; cursor: pointer; visibility: inherit; transition: none; text-align: inherit; margin: 0px; padding: 19px 37px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">Learn More</div></div></div></div>
                                            <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 323px; top: 545px; z-index: 8;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption rev-btn  rs-hover-ready" id="slide-1-layer-4" data-x="213" data-y="center" data-voffset="180" data-width="[&#39;auto&#39;]" data-height="[&#39;auto&#39;]" data-type="button" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:640,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;frame&quot;:&quot;hover&quot;,&quot;speed&quot;:&quot;0&quot;,&quot;ease&quot;:&quot;Linear.easeNone&quot;,&quot;to&quot;:&quot;o:1;rX:0;rY:0;rZ:0;z:0;&quot;,&quot;style&quot;:&quot;c:rgb(37,64,153);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;&quot;}]" data-textalign="[&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;,&#39;inherit&#39;]" data-paddingtop="[21,21,21,21]" data-paddingright="[39,39,39,39]" data-paddingbottom="[21,21,21,21]" data-paddingleft="[39,39,39,39]" style="z-index: 8; white-space: nowrap; font-size: 16px; line-height: 17px; font-weight: 700; color: rgb(255, 255, 255); letter-spacing: 0px; font-family: Asap; background-color: rgb(37, 64, 153); border-color: rgb(0, 0, 0); border-radius: 30px; outline: none; box-shadow: none; box-sizing: border-box; cursor: pointer; visibility: inherit; transition: none; text-align: inherit; border-width: 0px; margin: 0px; padding: 21px 39px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">Contact Us</div></div></div></div>
                                        </li>
                                    </ul>

                                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden; width: 49.9333%; transform: translate3d(0px, 0px, 0px);"></div>
                                    <div class="tp-loader off" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div><div class="tp-leftarrow tparrows uranus" style="top: 50%; transform: matrix(1, 0, 0, 1, 20, -25); left: 0px; visibility: inherit; opacity: 1;"></div><div class="tp-rightarrow tparrows uranus" style="top: 50%; transform: matrix(1, 0, 0, 1, -70, -25); left: 100%; visibility: inherit; opacity: 1;"></div><div class="tp-bullets uranus horizontal nav-pos-hor-center nav-pos-ver-bottom nav-dir-horizontal" style="width: 40px; height: 15px; top: 100%; transform: matrix(1, 0, 0, 1, -20, -45); left: 50%;"><div class="tp-bullet" style="left: 0px; top: 0px;"><span class="tp-bullet-inner"></span></div><div class="tp-bullet selected" style="left: 25px; top: 0px;"><span class="tp-bullet-inner"></span></div></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;" data-skin="Column Service HP 1">
            <div class="gdlr-core-pbf-background-wrap" style="background-color: #f5f5f5 ;">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-size: cover; background-position: center center; height: 414.8px;" data-parallax-speed="0.2"></div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first" data-skin="Hp2 Column Service">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 80px 40px 30px 60px; height: 336px;" data-sync-height="service-height" data-sync-height-center="">
                            <div class="gdlr-core-pbf-background-wrap">
                                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(../Images/hp-2-service-bg-1.jpg); background-size: cover; background-position: center center; height: 375.4px;" data-parallax-speed="0.1"></div>
                            </div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                        <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-top: 10px;margin-right: 30px;"><img src="~/Images/hp2-icon-1.png" alt="" width="45" height="45"></div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title" style="font-size: 22px;font-weight: 600;letter-spacing: 0px;text-transform: none;">On Time  <br>Service.</h3>
                                            </div>
                                            <div class="gdlr-core-column-service-content" style="font-size: 17px;">
                                                <p>Transforming distribution and marketing with key capabilities in customer insight and analytics.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Hp2 Column Service">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 80px 40px 30px 60px; height: 336px;" data-sync-height="service-height" data-sync-height-center="">
                            <div class="gdlr-core-pbf-background-wrap">
                                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(../Images/hp-2-service-bg-2.jpg); background-size: cover; background-position: center center; height: 375.4px;" data-parallax-speed="0.1"></div>
                            </div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                        <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-top: 10px;margin-right: 30px;"><img src="~/Images/hp2-icon-2.png" alt="" width="45" height="45"></div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title" style="font-size: 22px;font-weight: 600;letter-spacing: 0px;text-transform: none;">A Team Of  <br>Professionals.</h3>
                                            </div>
                                            <div class="gdlr-core-column-service-content" style="font-size: 17px;">
                                                <p>Transforming distribution and marketing with key capabilities in customer insight and analytics.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Hp2 Column Service 2">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 80px 40px 30px 60px; height: 336px;" data-sync-height="service-height" data-sync-height-center="">
                            <div class="gdlr-core-pbf-background-wrap">
                                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(../Images/hp-2-service-bg-3.jpg); background-size: cover; background-position: center center; height: 375.4px;" data-parallax-speed="0.1"></div>
                            </div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                        <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-top: 10px;margin-right: 30px;"><img src="~/Images/hp2-icon-3.png" alt="" width="45" height="45"></div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title" style="font-size: 22px;font-weight: 600;letter-spacing: 0px;text-transform: none;">Analyze Your  <br>Business.</h3>
                                            </div>
                                            <div class="gdlr-core-column-service-content" style="font-size: 17px;">
                                                <p>Transforming distribution and marketing with key capabilities in customer insight and analytics.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="margin: 30px 0px 0px 0px;">
            <div class="gdlr-core-pbf-background-wrap">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-repeat: no-repeat; background-position: center center; height: 248.08px;" data-parallax-speed="0.04"></div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 27px;">
                            <div class="gdlr-core-title-item-title-wrap ">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 44px;font-weight: 600;letter-spacing: 0px;text-transform: none;color: #232323;">Services We Provide<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                            </div><span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 14px;font-style: normal;letter-spacing: 2px;text-transform: uppercase;margin-top: 5px;">Covered in these areas</span>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal" style="padding-bottom: 25px;">
                            <div class="gdlr-core-divider-container gdlr-core-center-align" style="max-width: 54px;">
                                <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #254099;border-bottom-width: 4px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 0px 0px 160px 0px;">
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-hover-box-item gdlr-core-item-pdb clearfix  gdlr-core-left-align" style="padding-bottom: 20px;">
                            <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20 gdlr-core-column-first">
                                <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); ">
                                    <div class="gdlr-core-hover-box-thumbnail-top gdlr-core-media-image"><img src="~/Images/hp2-service-1.jpg" alt="" width="700" height="423"></div>
                                    <div class="gdlr-core-hover-box-content-wrap" style="padding-left: 35px;">
                                        <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px;text-transform: none;color: #254099;">Capital Markets</h3>
                                        <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #898989;">
                                            <p>Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
                                        </div>
                                    </div>
                                    <a class="gdlr-core-hover-box-link" href="https://max-themes.net/demos/financity/demo2/index.html#"></a>
                                </div>
                            </div>
                            <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20">
                                <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); ">
                                    <div class="gdlr-core-hover-box-thumbnail-top gdlr-core-media-image"><img src="~/Images/hp2-service-2.jpg" alt="" width="700" height="423"></div>
                                    <div class="gdlr-core-hover-box-content-wrap" style="padding-left: 35px;">
                                        <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px;text-transform: none;color: #254099;">Insurance</h3>
                                        <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #898989;">
                                            <p>Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
                                        </div>
                                    </div>
                                    <a class="gdlr-core-hover-box-link" href="https://max-themes.net/demos/financity/demo2/index.html#"></a>
                                </div>
                            </div>
                            <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20">
                                <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); ">
                                    <div class="gdlr-core-hover-box-thumbnail-top gdlr-core-media-image"><img src="~/Images/hp2-service-3.jpg" alt="" width="700" height="423"></div>
                                    <div class="gdlr-core-hover-box-content-wrap" style="padding-left: 35px;">
                                        <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px;text-transform: none;color: #254099;">Blockchain</h3>
                                        <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #898989;">
                                            <p>Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
                                        </div>
                                    </div>
                                    <a class="gdlr-core-hover-box-link" href="https://max-themes.net/demos/financity/demo2/index.html#"></a>
                                </div>
                            </div>
                            <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20 gdlr-core-column-first">
                                <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); ">
                                    <div class="gdlr-core-hover-box-thumbnail-top gdlr-core-media-image"><img src="~/Images/hp2-service-4.jpg" alt="" width="700" height="423"></div>
                                    <div class="gdlr-core-hover-box-content-wrap" style="padding-left: 35px;">
                                        <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px;text-transform: none;color: #254099;">Technology Advisory</h3>
                                        <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #898989;">
                                            <p>Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
                                        </div>
                                    </div>
                                    <a class="gdlr-core-hover-box-link" href="https://max-themes.net/demos/financity/demo2/index.html#"></a>
                                </div>
                            </div>
                            <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20">
                                <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); ">
                                    <div class="gdlr-core-hover-box-thumbnail-top gdlr-core-media-image"><img src="~/Images/hp2-service-5.jpg" alt="" width="700" height="423"></div>
                                    <div class="gdlr-core-hover-box-content-wrap" style="padding-left: 35px;">
                                        <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px;text-transform: none;color: #254099;">Finance &amp; Risk</h3>
                                        <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #898989;">
                                            <p>Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
                                        </div>
                                    </div>
                                    <a class="gdlr-core-hover-box-link" href="https://max-themes.net/demos/financity/demo2/index.html#"></a>
                                </div>
                            </div>
                            <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20">
                                <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); ">
                                    <div class="gdlr-core-hover-box-thumbnail-top gdlr-core-media-image"><img src="~/Images/hp2-service-6.jpg" alt="" width="700" height="423"></div>
                                    <div class="gdlr-core-hover-box-content-wrap" style="padding-left: 35px;">
                                        <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px;text-transform: none;color: #254099;">Portfolio Management</h3>
                                        <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #898989;">
                                            <p>Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
                                        </div>
                                    </div>
                                    <a class="gdlr-core-hover-box-link" href="https://max-themes.net/demos/financity/demo2/index.html#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 110px 0px 225px 0px;" data-skin="Hp2 Column Service">
            <div class="gdlr-core-pbf-background-wrap">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(../Images/hp2-about-bg.jpg); background-size: cover; background-position: center center; height: 890.2px;" data-parallax-speed="0.1"></div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="margin: -210px 0px 0px 0px;padding: 0px 0px 10px 0px;">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-center-align">
                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;"><img src="~/Images/hp2-about.jpg" alt="" width="731" height="443"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                            <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 15px;font-style: normal;letter-spacing: 1px;text-transform: uppercase;color: #a4a8db;">Our Little Story</span>
                            <div class="gdlr-core-title-item-title-wrap ">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 44px;font-weight: 700;letter-spacing: 0px;text-transform: none;color: #ffffff;">Something About Us<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-columnize-item gdlr-core-item-pdlr gdlr-core-item-pdb " style="padding-bottom: 20px;">
                            <div class="gdlr-core-columnize-item-content gdlr-core-skin-divider" style="font-size: 19px;column-count: 2;-moz-column-count: 2;-webkit-column-count: 2;column-gap: 50px;-moz-column-gap: 50px;-webkit-column-gap: 50px;column-rule-width: 0px;-moz-column-rule-width: 0px;-webkit-column-rule-width: 0px;">
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the wind I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian. I throw myself down among the tall grass by the trickling stream; and.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="gdlr-core-pbf-wrapper " style="padding: 100px 0px 0px 0px;">
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 60px;">
                            <div class="gdlr-core-title-item-title-wrap " style="text-align:center;">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 38px;text-transform: none;">Clients’ Testimonials<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-testimonial-item gdlr-core-item-pdb clearfix  gdlr-core-testimonial-style-left">
                            <div class="gdlr-core-testimonial-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20 gdlr-core-column-first">
                                <div class="gdlr-core-testimonial clearfix">
                                    <div class="gdlr-core-testimonial-quote gdlr-core-quote-font">“</div>
                                    <div class="gdlr-core-testimonial-content-wrap">
                                        <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 15px;">
                                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy.</p>
                                        </div>
                                        <div class="gdlr-core-testimonial-author-wrap clearfix">
                                            <div class="gdlr-core-testimonial-author-image gdlr-core-media-image">
                                            <img src="upload/personnel-1-sq-150x150.jpg" alt="" width="150" height="150"></div>
                                            <div class="gdlr-core-testimonial-author-content">
                                                <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">John Smith</div>
                                                <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">Co-Founder</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-testimonial-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20">
                                <div class="gdlr-core-testimonial clearfix">
                                    <div class="gdlr-core-testimonial-quote gdlr-core-quote-font">“</div>
                                    <div class="gdlr-core-testimonial-content-wrap">
                                        <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 15px;">
                                            <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees.</p>
                                        </div>
                                        <div class="gdlr-core-testimonial-author-wrap clearfix">
                                            <div class="gdlr-core-testimonial-author-image gdlr-core-media-image">
                                            <img src="upload/personnel-6-sq-150x150.jpg" alt="" width="150" height="150"></div>
                                            <div class="gdlr-core-testimonial-author-content">
                                                <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">Sarah Lopez</div>
                                                <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">CFO, Apple</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-testimonial-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20">
                                <div class="gdlr-core-testimonial clearfix">
                                    <div class="gdlr-core-testimonial-quote gdlr-core-quote-font">“</div>
                                    <div class="gdlr-core-testimonial-content-wrap">
                                        <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 15px;">
                                            <p>I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar. who formed us in his own image, and the breath.</p>
                                        </div>
                                        <div class="gdlr-core-testimonial-author-wrap clearfix">
                                            <div class="gdlr-core-testimonial-author-image gdlr-core-media-image">
                                            <img src="upload/personnel-3-sq-150x150.jpg" alt="" width="150" height="150"></div>
                                            <div class="gdlr-core-testimonial-author-content">
                                                <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">Robert Kim</div>
                                                <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">Customer</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 70px 0px 30px 0px;">
            <div class="gdlr-core-pbf-background-wrap" style="background-color: #f2f2f2 ;"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container-custom" style="max-width: 1360px;">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-gallery-item gdlr-core-item-pdb clearfix  gdlr-core-gallery-item-style-grid gdlr-core-item-pdlr ">
                            <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " data-type="carousel" data-column="5" data-nav="none" data-nav-parent="gdlr-core-blog-item">

                                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                    <ul class="slides" style="width: 1000%; margin-left: 0px;">
                                        <li class="gdlr-core-item-mglr" style="width: 232px; margin-right: 40px; float: left; display: block;">
                                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/banner-3.png" alt="" width="148" height="44" draggable="false"></div>
                                        </li>
                                        <li class="gdlr-core-item-mglr" style="width: 232px; margin-right: 40px; float: left; display: block;">
                                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/banner-4.png" alt="" width="132" height="46" draggable="false"></div>
                                        </li>
                                        <li class="gdlr-core-item-mglr" style="width: 232px; margin-right: 40px; float: left; display: block;">
                                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/banner-2.png" alt="" width="141" height="45" draggable="false"></div>
                                        </li>
                                        <li class="gdlr-core-item-mglr" style="width: 232px; margin-right: 40px; float: left; display: block;">
                                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/banner-1.png" alt="" width="138" height="49" draggable="false"></div>
                                        </li>
                                        <li class="gdlr-core-item-mglr" style="width: 232px; margin-right: 40px; float: left; display: block;">
                                            <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/banner-5.png" alt="" width="151" height="43" draggable="false"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
