@{
    ViewBag.Title = "Our Services";
}
<div class="gdlr-core-pbf-wrapper " style="padding: 420px 0px 135px 0px;" id="gdlr-core-wrapper-1">
    <div class="gdlr-core-pbf-background-wrap">
        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(../Images/page-title-background.jpg); background-size: cover; background-position: center;" data-parallax-speed="0.2"></div>
    </div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr">
                    <div class="gdlr-core-title-item-title-wrap ">
                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 93px;font-weight: 600;letter-spacing: 0px;text-transform: none;color: #ffffff;">Our Services<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                    </div>
                    <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 14px;font-style: normal;letter-spacing: 2px;text-transform: uppercase;color: #e0e0e0;">
                        we provide the solution for asset management
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 70px 0px 30px 0px;">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-hover-box-item gdlr-core-item-pdb clearfix  gdlr-core-center-align">
                    <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20 gdlr-core-column-first">
                        <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); ">
                            <div class="gdlr-core-hover-box-content-wrap">
                                <div class="gdlr-core-hover-box-thumbnail-inside gdlr-core-media-image"><img src="../upload/service-icon-1.png" alt="" width="60" height="60"></div>
                                <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px;text-transform: none;color: #f17d44;">Home Loans</h3>
                                <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #525a70;">
                                    <p>Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
                                </div>
                            </div>
                            <a class="gdlr-core-hover-box-link" href="#"></a>
                        </div>
                    </div>
                    <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20">
                        <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); ">
                            <div class="gdlr-core-hover-box-content-wrap">
                                <div class="gdlr-core-hover-box-thumbnail-inside gdlr-core-media-image"><img src="../upload/service-icon-2.png" alt="" width="53" height="61"></div>
                                <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px;text-transform: none;color: #f17d44;">Personal Loans</h3>
                                <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #525a70;">
                                    <p>Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
                                </div>
                            </div>
                            <a class="gdlr-core-hover-box-link" href="#"></a>
                        </div>
                    </div>
                    <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20">
                        <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); ">
                            <div class="gdlr-core-hover-box-content-wrap">
                                <div class="gdlr-core-hover-box-thumbnail-inside gdlr-core-media-image"><img src="../upload/service-icon-3.png" alt="" width="55" height="55"></div>
                                <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px;text-transform: none;color: #f17d44;">Business Loans</h3>
                                <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #525a70;">
                                    <p>Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
                                </div>
                            </div>
                            <a class="gdlr-core-hover-box-link" href="#"></a>
                        </div>
                    </div>
                    <div class="gdlr-core-hover-box-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20 gdlr-core-column-first">
                        <div class="gdlr-core-hover-box  gdlr-core-outer-frame-element  clearfix" style="box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); ">
                            <div class="gdlr-core-hover-box-content-wrap">
                                <div class="gdlr-core-hover-box-thumbnail-inside gdlr-core-media-image"><img src="../upload/service-icon-4.png" alt="" width="59" height="46"></div>
                                <h3 class="gdlr-core-hover-box-title gdlr-core-skin-title" style="font-size: 20px;text-transform: none;color: #f17d44;">Commercial Loans</h3>
                                <div class="gdlr-core-hover-box-content gdlr-core-skin-content" style="color: #525a70;">
                                    <p>Providing insight-driven transformation to investment banks, wealth and asset managers, exchanges, clearing houses.</p>
                                </div>
                            </div>
                            <a class="gdlr-core-hover-box-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
